{% extends 'base.html' %}
{% block content %}
<div class = "group">
<h1>
    Meet the Group:
</h1>
<div class = "person" style="background-color:black;width:300px;color:white;margin-left:30px;margin-right:0;float:left;">
<div class = 'rounded-circle' style="padding-left:25px">
    <img src = "{{url_for('static',filename='azfar.png')}}" class="rounded-circle" style="width:250px;height:240px;">
</div>
<h1 style="padding-left:30px;">
Azfar
</h1>
<div>
<p "text-center">Strong believer in coding for all ages. 9th Grader in NJ, Python and C++ programmer. I am a Data Science enthusiast and am currently Grinding on Keras and Pytorch<br><a href= 'https://github.com/azfar154/'>Github</a></p>
</div>
<div class = "person" style="background-color:black;width:300px;color:white;margin-left:30px;margin-right:0;float:left;">
<div class = 'rounded-circle' style="padding-left:25px">
    <img src = "{{url_for('static',filename='image.jpg')}}" class="rounded-circle" style="width:250px;height:240px;">
</div>
<h1 style="padding-left:30px;">
Nabeel
</h1>
<div>
<p "text-center">Hey, I'm Nabeel and my moto is 'Living life learning as much as possible.' I'm an 11th Grader in NJ and a Full Stack Web developer. I love to program with NodeJS, however, I have worked with many technologies such as Vue, Sass, Express and much more!<br><a href= 'https://github.com/NabeelAhmed1721/'>Github</a></p>
</div>
</div>
</div>
<div>
    
    We will be adding many other proficient coders later.<br>
    You can have a chance of joining the team. <br>
    <p>
     <br>   
    <a class="btn btn-primary" href="https://azfarmohamed.typeform.com/to/kYk6KX" role="button">Sign Up</a>
</p>
</div>
{% endblock content %}