<html>
    <head>
        <title>Team Meta</title>
        <link href="https://d2yslze4gizk3f.cloudfront.net/bootstrap.min.css" type="text/css" rel="stylesheet">
	<meta name="google-site-verification" content="GGodLBwbJXfwfEGWoalvMq-wIINQX1d1Ey-R0bcZsNo" />
	<meta name="description" content= "Azfar Mohamed's portfolio website" />
    <meta name="robots" content= "index, follow">
    <meta name="theme-color" content="#ff2e2e">
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link rel="shortcut icon" href="{{ url_for('static', filename='teammeta.ico') }}">
  <link rel= "stylesheet" href = "{{url_for('static',filename='navbar.css')}}">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    {% block bodychange %}
    {% endblock bodychange %}
    <body style="background-color:black;">
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav" style="background-color:gray;">
      <div class="container">
        <a class="navbar-brand" href="{{url_for('home')}}"><img src = "{{ url_for('static', filename='teammeta.ico') }}" height="35px"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('home')}}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('signup')}}">Sign Up</a>
            </li>
            <li class = "nav-item">
              <a class = 'nav-link' href = "{{url_for('results')}}">Results</a>
            </li>
            <li class = "nav-item">
              <a class = 'nav-link' href = "{{url_for('detail')}}">Detail</a>
            </li>
            <li class = "nav-item">
              <a class = 'nav-link' href = "{{url_for('interview')}}">Interview</a>
            </li>
      
            <li class ='nav-item'>
                            <a class = 'nav-link' href = "{{url_for('gallery')}}">Gallery</a>

            </li> 
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('about')}}">About</a>
            </li>
          </ul>
        </div>
      </div>
    </nav> 
    
    <div style="padding-top:100px;color:white;" class="container">
       {% block content %}
       {% endblock content %}
    </div>
    <div style="padding-left:900px">
    
     <script type="text/javascript" src="https://d2yslze4gizk3f.cloudfront.net/jquery.min.js"></script>
    
    <script type="text/javascript" src="https://d2yslze4gizk3f.cloudfront.net/popper.min.js"></script>

    <script type="text/javascript" src="https://d2yslze4gizk3f.cloudfront.net/bootstrap.min.js"></script>
    <!-- Custom scripts for this template -->
 
    <script type="text/javascript" src="https://d2yslze4gizk3f.cloudfront.net/index.js"></script>

    <img src= "https://yip.su/-2ivAe7">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-155551114-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-155551114-1');
</script>
    </body>

</html>
