{% extends 'base.html' %}
{% block content%}
<h1>
    {{user}}'s Application
</h1>
{% if user == "Rohan" %}
<p>
    Average Score : 110/125
</p>
{% endif%}
{% if user == "Aarav"%}
<p>
    Average Score : 98/125
</p>
{% endif%}
<style>
    .interview{
        margin-left:90px;
    }
</style>
<div class = "interview">
    <h1>
    </h1>
    {%if user == "Rohan"%}
    <img src = "{{url_for('static',filename='rohan1.png')}}" height="500px">
    <p>
        Score : 98/125 + 6/125 (Mistake in Grading)
        <br>
        Score : 104/125
    </p>
    {% endif%}
    {% if user == "Aarav" %}
    
        <img src = "{{url_for('static',filename='aarav1.png')}}" height="500px">
     <p>
        Score : 98/125
    </p>
    {% endif %}
</div>
{% endblock content %}