
<!DOCTYPE html>
<html lang="en">
<head>
    <script id='dataLink' src='https://d33wubrfki0l68.cloudfront.net/js/aa23cbceffad5ce24fa341ae6533d83c64624c6a/photos/2019/hackphs/data.json'></script>
    <meta name="description" content= "Nabeel Ahmed's portfolio website" />
    <meta name="robots" content= "index, follow">
    <meta name="theme-color" content="#ff2e2e">
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel='stylesheet' href='https://d33wubrfki0l68.cloudfront.net/css/4049603e5d9aec5ff41ed8fbb8884b0630d8985f/styles/galleryphotos.css'/>
    <title>Gallery | </title>
</head>
<body>
<div class="header">
    <div class="header-title">
        <div class="header-title-link">
            <a href="{{url_for('gallery')}}">&#10229;Gallery</a>
        </div>
        <div id="headerTitle" class="header-title-main"></div>
    </div>
    <div class="header-memo"><p id="headerMemo"></p></div>
</div>
<div id="galleryContainer" class="container"></div>
<div class="spacer"></div>
  <script src='https://d33wubrfki0l68.cloudfront.net/js/4e8d56ee5f2494e868edcf8fc2e74d112e7e58bb/scripts/galleryrouteinit.js'></script>
</body>