{% extends 'base.html' %}

{% block bodychange %}
<body style="background: #e74c3c !important;">
<div class="row text-center text-white" style="padding-top:150px">
        <div class="col-lg-7 mx-auto">
<h1 class="display-4">
    Team Meta
</h1>
<link rel="stylesheet" href="{{url_for('static',filename='all.css')}}">
    <form method == "POST" style="margin-left:10px">
<div class="container h-100">
      <div class="d-flex justify-content-center h-100">
        <div class="searchbar">

          <input class="search_input" type="text" name="input" placeholder="Search...">
          <a href="" class="search_icon" onclick='this.parentNode.submit(); return false;'><i class="fa fa-search"></i></a>
          </form>
        </div>
      </div>
    </div>
    </form>
<p class="lead mb-0">
    “Any fool can write code that a computer can understand. Good programmers write code that humans can understand.”
    
</p>
<p class="lead"><a href='{{url_for('gallery')}}' class="text-white">Pictures</a></p>
</div>
</div>
<div class="container">
    <div class="row text-center">

        <!-- Team item -->
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4" style="color:black">
                <img src = "{{url_for('static',filename='bestphoto.png')}}" alt="" width="150" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm" style="height:150 !important;">
                <h5 class="mb-0">Azfar Mohamed</h5>
                <span class="small text-uppercase text-muted">Head Member</span>
                <ul class="social mb-0 list-inline mt-3">

                        <li class="list-inline-item"><a href="#" class="social-link"><a href="#" class="fa fa-google"></a></a></li>
                    <li class="list-inline-item"><a href="https://www.github.com/azfar154" class="social-link"><i class="fa fa-github"></i></a></li>
                    <li class="list-inline-item"><a href="https://bitbucket.org/azfar1543/" class="social-link"><i class="fa fa-bitbucket"></i></a></li>
                </ul>
                </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-5">
                                    

                            <div class="bg-white rounded shadow-sm py-5 px-4" style="color:black">
                                <img src = "{{url_for('static',filename='image.jpg')}}" alt="" width="150" height="150" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm" style="height:150 !important;">
                                <h5 class="mb-0">Nabeel Ahmed</h5>
                                                <span class="small text-uppercase text-muted">Head Member</span>
                                                <ul class="social mb-0 list-inline mt-3">

                        <li class="list-inline-item"><a href="#" class="social-link"><a href="#" class="fa fa-google"></a></a></li>
                    <li class="list-inline-item"><a href="https://github.com/NabeelAhmed1721" class="social-link"><i class="fa fa-github"></i></a></li>
                    <li class="list-inline-item"><a href="https://bitbucket.org/nabeel_ahmed/" class="social-link"><i class="fa fa-bitbucket"></i></a></li>
                </ul>

                    </div>
                    </div>
                </div>
                </div>
                </div> 
<b>
    <div style="padding-left:150px">
    <p class="lead mb-0">
        You can apply to join our team here 
        <br>
        <br>
        </p>
<a class="typeform-share button" href="https://azfarmohamed.typeform.com/to/kYk6KX" data-mode="popup" style="display:inline-block;text-decoration:none;background-color:#267DDD;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:50px;text-align:center;margin:0;height:50px;padding:0px 33px;border-radius:25px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" target="_blank">Apply now</a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
</div>
    
</b>
</body>
{% endblock bodychange %}