{% extends 'base.html' %}
{% block content %}
<h1>Interview Step</h1>
<p class="text-muted">
    If you aren't qualified for the interview you will not receive a response
    
</p>
<form name="addForm" id="addForm" method="POST" action="" novalidate>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Password</label>
                <input type="text" class="form-control" placeholder="Password" name="password" id="password" required data-validation-required-message="Please enter your password.">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <br>
            <div id="success"></div>
            <div class="form-group">
              <button type="submit" class="btn btn-secondary" id="sendMessageButton">Send</button>
            </div>
          </form>
{% endblock content %}