{% extends 'base.html' %}
{% block content%}
    <h1>First Round</h1>
    <p class="text-muted">This is not the final round and participants will have opportunities later.</p>
    <br>
        <table class="table" style="background-color:white">
  <thead>
    <tr>
      <th scope = "col">#</th>
      <th scope="col">Key</th>
      <th scope="col">Score</th>

    </tr>
  </thead>
  <tbody>
    <tr>
        {% for x in range(0,len-1)%}
      <th scope="row">{{x}}</th>
      <td>{{results[x]['key']}}</td>
      <td>{{results[x]['score']}}</td>
      </tr>
      {% endfor %}

  </table>
  <p class = "text-muted">
      An7tBtrfs3 advances to the next round!
  </p>
  <h1>
      Second Round
  </h1>
  <p class = 'text-muted'>
      Coming soon
      <br>
          <a class="btn btn-primary" href="https://azfarmohamed.typeform.com/to/kYk6KX" role="button">Sign Up</a>

  </p>
  
  <p class="text-muted">Want more Detail?</p>
      <a class="btn btn-primary" href="{{url_for('detail')}}" role="button">Detailed View</a>
{% endblock content%}