{% extends 'base.html' %}
{% block content %}
<h1>
    Aarav Hash :6NGy31Aarw
    <br>
    Aarav Pass: DbDAQeup4P
    </h1>
    <h1>
        Rohan's Hash: An7tBtrfs3
        <br>
        <br>
        Rohan's Pass : B04qM5KOBX
    </h1>
    <p>
        Requests
    </p>
    <p>
        Yo nabeel I need help with the ui design 
    </p>
{% endblock content %}