{% extends 'base.html' %}
{% block content %}
<h1>
    Please do not be discouraged. <br>Programmers must be in high school.
</h1>
<div class = 'invisible'>
    In the interview say the code = "model = Sequential"
</div>
<p>
    <a class="btn btn-primary" href="https://azfarmohamed.typeform.com/to/kYk6KX" role="button">Sign Up</a>
</p>
{% endblock content %}
