{% extends 'base.html' %}
{% block content %}
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="bootstrap.min.js"></script>
<script src="carousel.js"></script>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="https://i.postimg.cc/76PzvT0k/74785344-374809573236120-1360258581215051776-n.jpg" alt="First slide">
      <div class="carousel-caption d-none d-md-block" style='color:black;font-weight:bold;'>
    <h5 style='background-color:white'>hackPHS</h5>
    <p style='background-color:white'>fun hackathon taken place in Princeton High School</p>
  </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://i.postimg.cc/TPqN03yB/IMG-20191026-172621-229.jpg" alt="Second slide">
      <div class="carousel-caption d-none d-md-block" style='color:black;font-weight:bold;'>
        <h5 style='background-color:white'>hackJA</h5>
    <p style='background-color:white'>fun hackathon taken place in Edison,New Jersey</p>
  </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src= "https://i.postimg.cc/wM60GvTy/IMG-20191201-203509.jpg" alt="Third slide">
      <div class="carousel-caption d-none d-md-block" style='color:black;font-weight:bold;'>
    <h5 style="background-color:white">QbHacks</h5>
    <p style="background-color:white">First Teaching Experience in a Hackathon</p>
  </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<style>
    $('.carousel').carousel({
  interval: 900
})
</style>
{% endblock content %}